.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  gap: 16px;
}

.gallery__image {
  max-width: 284px;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .gallery__image {
    max-width: 100%;
    max-height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .gallery__image {
    max-width: 100%;
    max-height: auto;
  }
}

@media screen and (max-width: 544px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
  }
}
