.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery__image {
  max-width: 284px;
  max-height: 213px;
  padding: 16px;
}

@media screen and (max-width: 1280px) {
  .gallery__image {
    max-width: 284px;
    max-height: auto;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .gallery__image {
    max-width: 352px;
    max-height: auto;
    padding: 8px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
  }

  .gallery__image {
    max-width: 288px;
    max-height: auto;
    padding: 4px;
  }
}
