.page {
  background-color: #2a2c2f;
  max-width: 1280px;
  font-family: "Inter", sans-serif;
  min-width: 320px;
  color: #2a2c2f;
  margin: auto;
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
footer {
  color: #ffffff;
  font-family: Inter;
}

@media screen and (max-width: 1280px) {
  .page {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 100%;
  }
}
