.page {
  background-color: #2a2c2f;
  max-width: 1280px;
  font-family: "Inter";
  min-width: 320px;
  color: #ffffff;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
footer {
  color: #ffffff;
  font-family: Inter;
}
