.page {
  margin: 0 auto;
  max-width: 1280px;
  font-family: "Inter", sans-serif;
  min-width: 320px;
  color: #2a2c2f;
}

@media screen and (max-width: 1280px) {
  .page {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 100%;
  }
}
