.profiles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 984px;
  margin: 0 auto;
}

.profiles__profile {
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: auto 460px auto;
  grid-template-areas: "title artists" "image paragraph" "button paragraph";
  background-color: #2a2c2f;
  margin-top: 92px;
  gap: 48px 40px;
}

.profiles__profile-title {
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  max-width: 460px;
  color: white;
  line-height: 76px;
  margin-bottom: 48px;
  grid-area: title;
}

.profiles__profile-image {
  width: 100%;
  top: 2679px;
  box-shadow: 10px 10px 25px 0px #00000080;
  grid-area: image;
}

.profiles__artists {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  grid-area: artists;
}

.profiles__profile-role {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 100%;
  letter-spacing: 12%;
  margin-bottom: 8px;
  grid-area: artists;
}

.profiles__profile-name {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 22px;
  letter-spacing: 0%;
  grid-area: artists;
}

.profiles__paragraphs {
  grid-area: paragraph;
}

.profiles__profile-description {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 163%;
  letter-spacing: 0%;
}

@media screen and (max-width: 1024px) {
  .profiles {
    width: 100%;
  }

  .profiles__profile {
    max-width: 100%;
  }
  .profiles__profile-title {
    max-width: 100%;
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 544px) {
  .profiles__profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "title" "artists" "image" "paragraph" "button";
  }

  .profiles {
    width: 100%;
  }
  .profiles__profile-title {
    max-width: 100%;
    font-size: 32px;
    margin-left: 16px;
    line-height: 35px;
    margin-bottom: 30px;
  }
}
